*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    max-width: 1440px;
    font-family: "Azeret Mono", monospace;

}

body{

}

nav{
    margin-top: 25px;
}
section{
    margin-top: 50px;

}

.banner{
    background-image: url(./assets/Hero-bg.png);
    background-repeat: no-repeat;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.banner-img img{
    width: 200px;
    height: 200px;
    /* border: 2px solid black; */
}
.banner-content{
    text-align: center;
    
}
.banner-content h1{
    color: #0D1321;
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    margin-bottom: 20px;
    
}
.banner-content p{
    color: #0D1321;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; 
    
}

.banner-btn button{
    background-color: black;
    color: #FFF;
    text-align: center;
    padding: 15px 15px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 40px;
}

/* body  */

/* why dev section */

.why-dev-section{

    background: rgba(13, 19, 33, 0.02);
    
    margin: 75px 150px;

}
.why-dev-content{
    padding: 30px 100px;
}

.why-dev-heading{
    text-align: center;
    padding-top: 80px;
    margin-bottom: 50px;
}
.why-dev-heading h1{
    color: #0D1321;
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 20px;
}
.why-dev-heading p{
    color: #0D1321;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px; 
}

.block-content{
    width: 50%;

    
}
.block-content h2{
    color: rgba(13, 19, 33, 0.70);
    font-size: 22px;
    font-weight: 700;
    line-height: 36px;
    margin-bottom: 14px; 
}
.block-content p{
    color: #0D1321;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px; 
    margin-bottom: 25px
}
.block-content button{
    color: #0D1321;
    text-align: center;
    font-size: 14px;
    font-weight: 600; 
    padding: 12px 18px;
}




.block-1{
    display: flex ;
    justify-content: center;
    align-items: center;
    gap: 40px;
    background-image: linear-gradient(to right, rgba(255, 255, 255), rgba(0,0,0,0));
    padding: 45px 30px ;
    

}
.block-2{
    display: flex ;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    gap: 40px;
    background-image: linear-gradient(to left, rgba(255, 255, 255), rgba(0,0,0,0));
    padding: 45px 30px ;

}
.block-3{
    display: flex ;
    justify-content: center;
    align-items: center;
    gap: 40px;
    background-image: linear-gradient(to right, rgba(255, 255, 255), rgba(0,0,0,0));
    padding: 45px 30px ;

}

/* inspiration section */

.inspiration-section{
    text-align: center;
    margin: 75px 150px;
}

.inspiration-title{
    margin-bottom: 50px;
    width: 70%;
}
.inspiration-title h1{
    color: #0D1321;
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 20px;
}
.inspiration-title p{
    color: #0D1321;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px; 
}

.inspiration-video{
    border: 1px solid rgba(13, 19, 33, 0.20);
    border-radius: 16px;
    padding: 35px;
}
.inspiration-video iframe{
    border-radius: 16px;
}